VITE_SUPABASE_URL=https://ksjzcpywoqumsbcfasrd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtzanpjcHl3b3F1bXNiY2Zhc3JkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1OTk3NDIsImV4cCI6MjA5MDE3NTc0Mn0.zwtItkxr_vkjZue-VRJFvhNvOdMspCmiG214_fw6OJs